@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Sans", "Noto Sans SC", "Segoe UI", sans-serif;
  color: #1b1a17;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
