qm.upcshare.cn, campus-qm.upcshare.cn {
	tls /certs/fullchain.pem /certs/privkey.pem
	encode gzip zstd

	handle /api* {
		header {
			Access-Control-Allow-Origin "{http.request.header.Origin}"
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Allow-Headers "Origin, Content-Type, Authorization"
			Access-Control-Allow-Credentials "true"
			Vary "Origin"
		}
		@preflight method OPTIONS
		respond @preflight 204
		reverse_proxy app:8080 {
			header_up -Origin
		}
	}

	handle /s* {
		reverse_proxy app:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
